<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Jogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card text-center>
    <ion-card-header>
      Dados cadastrais
    </ion-card-header>
    <ion-row>
      <ion-col>
        <form [formGroup]="cadastroForm">
          <ion-row>
            <mat-form-field class="example-full-width" appearance="outline">
              <input matInput type="text" name="nome" placeholder="Nome do Jogo" formControlName="nome">
            </mat-form-field>
          </ion-row>
          <ion-row>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-select formControlName="plataforma">
                <mat-option label="Selecione">Selecione</mat-option>
                <mat-option value="xbox">X-BOX</mat-option>
                <mat-option value="ps4">PS4</mat-option>
                <mat-option value="pc">PC</mat-option>
              </mat-select>
            </mat-form-field>
          </ion-row>
          <ion-row>
            <mat-form-field class="example-full-width" appearance="outline">
              <input matInput type="date" name="nome" placeholder="Nome do Jogo" formControlName="dataLancamento">
            </mat-form-field>
          </ion-row>
          <ion-row>
            <mat-form-field class="example-full-width" appearance="outline">
              <input matInput type="number" name="nome" placeholder="Preço" formControlName="preco">
            </mat-form-field>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-button color="secondary" (click)="enviarArquivo()">
              <ion-icon name="md-cloud-upload" class="ion-padding-end"></ion-icon> Upload foto
            </ion-button>
            <ion-button color="secondary" (click)="tirarFoto()">
              <ion-icon name="md-camera" class="ion-padding-end"></ion-icon> Tirar foto
            </ion-button>
          </ion-row>
        </form>
        <ion-button (click)="save()">
          <ion-icon name="md-save" class="ion-padding-end"></ion-icon> Salvar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>