<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Jogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      Dados cadastrais
    </ion-card-header>
    <ion-col align-self-center>
      <form [formGroup]="cadastroForm">
        <ion-row>
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput type="text" name="nome" placeholder="Nome do Jogo" formControlName="nome">
          </mat-form-field>
        </ion-row>
        <ion-row>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-select formControlName="plataforma">
              <mat-option label="Selecione">Selecione</mat-option>
              <mat-option value="xbox">X-BOX</mat-option>
              <mat-option value="ps4">PS4</mat-option>
              <mat-option value="pc">PC</mat-option>
            </mat-select>
          </mat-form-field>
        </ion-row>
        <ion-row>
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput type="date" name="nome" placeholder="Nome do Jogo" formControlName="dataLancamento">
          </mat-form-field>
        </ion-row>
        <ion-row>
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput type="number" name="nome" placeholder="Nome do Jogo" formControlName="preco">
          </mat-form-field>
        </ion-row>
      </form>
      <ion-button (click)="save()">
        <ion-icon name="md-save"></ion-icon> Salvar
      </ion-button>
    </ion-col>

  </ion-card>
</ion-content>