<ion-header>
  <ion-toolbar>
    <ion-title>
      Game Database
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-row justify-content-center>
      <ion-col size="4">
        <ion-card (click)="goTo('cadastrar')" text-center>
          <h1 >
            Cadastrar
          </h1>
          <ion-icon  name="md-add"></ion-icon>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card (click)="goTo('listar')" text-center>
          <h1 >
            Listar
          </h1>
          <ion-icon   name="md-list"></ion-icon>

        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>