ion-icon {
  font-size: 7.5em;
}

ion-card:hover {
    border: solid 2px #333333;
    padding: 0px;
}

ion-card {
    h1 {
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    padding: 2px;
    cursor: pointer;
    margin: 0;
}